.aterre
{
    width: 300px;
    position: relative;
    margin-top: 45px;
    margin-left: auto;
}

.description
{
    position: absolute;  
    float: left;
    font-size: 18px; 
}

.planche
{
    width: 300px;
    position: relative;
    margin-top: 65px;
}

.portrait
{
    width: 100px;
    margin-top: 65px;
    margin-right: 30px;
}

.voyage
{
    width: 200px;
    margin-right: 10px;
}